@model Shop.Models.Cocktails.CocktailsViewModel

@{
    ViewData["Title"] = "Cocktails";
}
<div class="container">
    <h2>Cocktail information:</h2>
    <h2>@Html.DisplayFor(model => model.strDrink)</h2>
    <hr />
    @if (!string.IsNullOrEmpty(Model.idDrink))
    {
        <div class="form-group row">
            <label asp-for="idDrink" class="col-sm-2 col-form-label">ID:</label>
            @Html.DisplayFor(model => model.idDrink)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strDrinkAlternate))
    {
        <div class="form-group row">

            <label asp-for="strDrinkAlternate" class="col-sm-2 col-form-label">Drink alternate:</label>
            @Html.DisplayFor(model => model.strDrinkAlternate)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strTags))
    {

        <div class="form-group row">
            <label asp-for="strTags" class="col-sm-2 col-form-label">Tags:</label>
            @Html.DisplayFor(model => model.strTags)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strVideo))
    {
        <div class="form-group row">
            <label asp-for="strVideo" class="col-sm-2 col-form-label">Video:</label>
            @Html.DisplayFor(model => model.strVideo)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strCategory))
    {
        <div class="form-group row">
            <label asp-for="strCategory" class="col-sm-2 col-form-label">Category:</label>
            @Html.DisplayFor(model => model.strCategory)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strIBA))
    {
        <div class="form-group row">
            <label asp-for="strIBA" class="col-sm-2 col-form-label">IBA:</label>
            @Html.DisplayFor(model => model.strIBA)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strAlcoholic))
    {
        <div class="form-group row">
            <label asp-for="strAlcoholic" class="col-sm-2 col-form-label">Alcholic:</label>
            @Html.DisplayFor(model => model.strAlcoholic)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strGlass))
    {
        <div class="form-group row">
            <label asp-for="strGlass" class="col-sm-2 col-form-label">Glass:</label>
            @Html.DisplayFor(model => model.strGlass)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strInstructions))
    {
        <div class="form-group row">
            <label asp-for="strInstructions" class="col-sm-2 col-form-label">Instructions:</label>
            @Html.DisplayFor(model => model.strInstructions)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strInstructionsES))
    {
        <div class="form-group row">
            <label asp-for="strInstructionsES" class="col-sm-2 col-form-label">Instructions ES:</label>
            @Html.DisplayFor(model => model.strInstructionsES)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strInstructionsDE))
    {
        <div class="form-group row">
            <label asp-for="strInstructionsDE" class="col-sm-2 col-form-label">Instructins DE:</label>
            @Html.DisplayFor(model => model.strInstructionsDE)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strInstructionsFR))
    {
        <div class="form-group row">
            <label asp-for="strInstructionsFR" class="col-sm-2 col-form-label">Instruction FR:</label>
            @Html.DisplayFor(model => model.strInstructionsFR)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strInstructionsIT))
    {
        <div class="form-group row">
            <label asp-for="strInstructionsIT" class="col-sm-2 col-form-label">Instruction IT:</label>
            @Html.DisplayFor(model => model.strInstructionsIT)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strInstructionsZHHANS))
    {
        <div class="form-group row">
            <label asp-for="strInstructionsZHHANS" class="col-sm-2 col-form-label">Intructions ZH-HANS:</label>
            @Html.DisplayFor(model => model.strInstructionsZHHANS)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strInstructionsZHHANT))
    {
        <div class="form-group row">
            <label asp-for="strInstructionsZHHANT" class="col-sm-2 col-form-label">Instructions ZH-HANT:</label>
            @Html.DisplayFor(model => model.strInstructionsZHHANT)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strDrinkThumb))
    {
        <div class="form-group row">
            <label asp-for="strDrinkThumb" class="col-sm-2 col-form-label">Drink thumb:</label>
            @Html.DisplayFor(model => model.strDrinkThumb)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strIngredient1))
    {
        <div class="form-group row">
            <label asp-for="strIngredient1" class="col-sm-2 col-form-label">Ingredient 1:</label>
            @Html.DisplayFor(model => model.strIngredient1)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strIngredient2))
    {
        <div class="form-group row">
            <label asp-for="strIngredient2" class="col-sm-2 col-form-label">Ingredient 2:</label>
            @Html.DisplayFor(model => model.strIngredient2)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strIngredient3))
    {
        <div class="form-group row">
            <label asp-for="strIngredient3" class="col-sm-2 col-form-label">Ingredient 3:</label>
            @Html.DisplayFor(model => model.strIngredient3)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strIngredient4))
    {
        <div class="form-group row">
            <label asp-for="strIngredient4" class="col-sm-2 col-form-label">Ingredient 4:</label>
            @Html.DisplayFor(model => model.strIngredient4)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strIngredient5))
    {
        <div class="form-group row">
            <label asp-for="strIngredient5" class="col-sm-2 col-form-label">Ingredient 5:</label>
            @Html.DisplayFor(model => model.strIngredient5)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strIngredient6))
    {
        <div class="form-group row">
            <label asp-for="strIngredient6" class="col-sm-2 col-form-label">Ingredient 6:</label>
            @Html.DisplayFor(model => model.strIngredient6)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strIngredient7))
    {
        <div class="form-group row">
            <label asp-for="strIngredient7" class="col-sm-2 col-form-label">Ingredient 7:</label>
            @Html.DisplayFor(model => model.strIngredient7)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strIngredient8))
    {
        <div class="form-group row">
            <label asp-for="strIngredient8" class="col-sm-2 col-form-label">Ingredient 8:</label>
            @Html.DisplayFor(model => model.strIngredient8)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strIngredient9))
    {
        <div class="form-group row">
            <label asp-for="strIngredient9" class="col-sm-2 col-form-label">Ingredient 9:</label>
            @Html.DisplayFor(model => model.strIngredient9)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strIngredient10))
    {
        <div class="form-group row">
            <label asp-for="strIngredient10" class="col-sm-2 col-form-label">Ingredient 10:</label>
            @Html.DisplayFor(model => model.strIngredient10)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strIngredient11))
    {
        <div class="form-group row">
            <label asp-for="strIngredient11" class="col-sm-2 col-form-label">Ingredient 11:</label>
            @Html.DisplayFor(model => model.strIngredient11)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strIngredient12))
    {
        <div class="form-group row">
            <label asp-for="strIngredient12" class="col-sm-2 col-form-label">Ingredient 12:</label>
            @Html.DisplayFor(model => model.strIngredient12)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strIngredient13))
    {
        <div class="form-group row">
            <label asp-for="strIngredient13" class="col-sm-2 col-form-label">Ingredient 13:</label>
            @Html.DisplayFor(model => model.strIngredient13)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strIngredient14))
    {
        <div class="form-group row">
            <label asp-for="strIngredient14" class="col-sm-2 col-form-label">Ingredient 14:</label>
            @Html.DisplayFor(model => model.strIngredient14)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strIngredient15))
    {
        <div class="form-group row">
            <label asp-for="strIngredient15" class="col-sm-2 col-form-label">Ingredient 15:</label>
            @Html.DisplayFor(model => model.strIngredient15)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strMeasure1))
    {
        <div class="form-group row">
            <label asp-for="strMeasure1" class="col-sm-2 col-form-label">Measure 1:</label>
            @Html.DisplayFor(model => model.strMeasure1)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strMeasure2))
    {
        <div class="form-group row">
            <label asp-for="strMeasure2" class="col-sm-2 col-form-label">Measure 2:</label>
            @Html.DisplayFor(model => model.strMeasure2)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strMeasure3))
    {
        <div class="form-group row">
            <label asp-for="strMeasure3" class="col-sm-2 col-form-label">Measure 3:</label>
            @Html.DisplayFor(model => model.strMeasure3)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strMeasure4))
    {
        <div class="form-group row">
            <label asp-for="strMeasure4" class="col-sm-2 col-form-label">Measure 4:</label>
            @Html.DisplayFor(model => model.strMeasure4)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strMeasure5))
    {
        <div class="form-group row">
            <label asp-for="strMeasure5" class="col-sm-2 col-form-label">Measure 5:</label>
            @Html.DisplayFor(model => model.strMeasure5)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strMeasure6))
    {
        <div class="form-group row">
            <label asp-for="strMeasure6" class="col-sm-2 col-form-label">Measure 6:</label>
            @Html.DisplayFor(model => model.strMeasure6)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strMeasure7))
    {
        <div class="form-group row">
            <label asp-for="strMeasure7" class="col-sm-2 col-form-label">Measure 7:</label>
            @Html.DisplayFor(model => model.strMeasure7)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strMeasure8))
    {
        <div class="form-group row">
            <label asp-for="strMeasure8" class="col-sm-2 col-form-label">Measure 8:</label>
            @Html.DisplayFor(model => model.strMeasure8)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strMeasure9))
    {

        <div class="form-group row">
            <label asp-for="strMeasure9" class="col-sm-2 col-form-label">Measure 9:</label>
            @Html.DisplayFor(model => model.strMeasure9)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strMeasure10))
    {
        <div class="form-group row">
            <label asp-for="strMeasure10" class="col-sm-2 col-form-label">Measure 10:</label>
            @Html.DisplayFor(model => model.strMeasure10)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strMeasure11))
    {
        <div class="form-group row">
            <label asp-for="strMeasure11" class="col-sm-2 col-form-label">Measure 11:</label>
            @Html.DisplayFor(model => model.strMeasure11)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strMeasure12))
    {
        <div class="form-group row">
            <label asp-for="strMeasure12" class="col-sm-2 col-form-label">Measure 12:</label>
            @Html.DisplayFor(model => model.strMeasure12)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strMeasure13))
    {
        <div class="form-group row">
            <label asp-for="strMeasure13" class="col-sm-2 col-form-label">Measure 13:</label>
            @Html.DisplayFor(model => model.strMeasure13)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strMeasure14))
    {
        <div class="form-group row">
            <label asp-for="strMeasure14" class="col-sm-2 col-form-label">Measure 14:</label>
            @Html.DisplayFor(model => model.strMeasure14)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strMeasure15))
    {
        <div class="form-group row">
            <label asp-for="strMeasure15" class="col-sm-2 col-form-label">Measure 15:</label>
            @Html.DisplayFor(model => model.strMeasure15)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strImageSource))
    {
        <div class="form-group row">
            <label asp-for="strImageSource" class="col-sm-2 col-form-label">Image source:</label>
            @Html.DisplayFor(model => model.strImageSource)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strImageAttribution))
    {
        <div class="form-group row">
            <label asp-for="strImageAttribution" class="col-sm-2 col-form-label">Image attribution:</label>
            @Html.DisplayFor(model => model.strImageAttribution)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.strCreativeCommonsConfirmed))
    {
        <div class="form-group row">
            <label asp-for="strCreativeCommonsConfirmed" class="col-sm-2 col-form-label">Commons Confirmed:</label>
            @Html.DisplayFor(model => model.strCreativeCommonsConfirmed)
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.dateModified))
        {
        <div class="form-group row">
            <label asp-for="dateModified" class="col-sm-2 col-form-label">Date modified:</label>
            @Html.DisplayFor(model => model.dateModified)
        </div>
        }

    </div>