@model Shop.Models.Cocktails.CocktailsViewModel

@{
    ViewData["Title"] = "Cocktails";
}
<div class="container">
    <h2>Cocktail information</h2>
    <h2>@Html.DisplayFor(model => model.strDrink)</h2>
    <hr />

    <div class="form-group row">
        <label asp-for="idDrink" class="col-sm-2 col-form-label">ID:</label>
        @Html.DisplayFor(model => model.idDrink)
    </div>
    
    <div class="form-group row">
        <label asp-for="strDrinkAlternate" class="col-sm-2 col-form-label">Drink alternate:</label>
        @Html.DisplayFor(model => model.strDrinkAlternate)
    </div>

    <div class="form-group row">
        <label asp-for="strTags" class="col-sm-2 col-form-label">Tags:</label>
        @Html.DisplayFor(model => model.strTags)
    </div>

    <div class="form-group row">
        <label asp-for="strVideo" class="col-sm-2 col-form-label">Video:</label>
        @Html.DisplayFor(model => model.strVideo)
    </div>

    <div class="form-group row">
        <label asp-for="strCategory" class="col-sm-2 col-form-label">Category:</label>
        @Html.DisplayFor(model => model.strCategory)
    </div>

    <div class="form-group row">
        <label asp-for="strIBA" class="col-sm-2 col-form-label">IBA:</label>
        @Html.DisplayFor(model => model.strIBA)
    </div>
    <div class="form-group row">
        <label asp-for="strAlcoholic" class="col-sm-2 col-form-label">Alcholic:</label>
        @Html.DisplayFor(model => model.strAlcoholic)
    </div>
    <div class="form-group row">
        <label asp-for="strGlass" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strGlass)
    </div>
    <div class="form-group row">
        <label asp-for="strInstructions" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strInstructions)
    </div>
    <div class="form-group row">
        <label asp-for="strInstructionsES" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strInstructionsES)
    </div>
    <div class="form-group row">
        <label asp-for="strInstructionsDE" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strInstructionsDE)
    </div>
    <div class="form-group row">
        <label asp-for="strInstructionsFR" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strInstructionsFR)
    </div>
    <div class="form-group row">
        <label asp-for="strInstructionsIT" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strInstructionsIT)
    </div>
    <div class="form-group row">
        <label asp-for="strInstructionsZHHANS" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strInstructionsZHHANS)
    </div>
    <div class="form-group row">
        <label asp-for="strInstructionsZHHANT" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strInstructionsZHHANT)
    </div>
    <div class="form-group row">
        <label asp-for="strDrinkThumb" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strDrinkThumb)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient1" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient1)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient2" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient2)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient3" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient3)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient4" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient4)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient5" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient5)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient6" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient6)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient7" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient7)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient8" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient8)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient9" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient9)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient10" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient10)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient11" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient11)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient12" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient12)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient13" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient13)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient14" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient14)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient15" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient15)
    </div>
    <div class="form-group row">
        <label asp-for="strMeasure1" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strMeasure1)
    </div>
    <div class="form-group row">
        <label asp-for="strMeasure2" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strMeasure2)
    </div>
    <div class="form-group row">
        <label asp-for="strMeasure3" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strMeasure3)
    </div>
    <div class="form-group row">
        <label asp-for="strMeasure4" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strMeasure4)
    </div>
    <div class="form-group row">
        <label asp-for="strMeasure5" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strMeasure5)
    </div>
    <div class="form-group row">
        <label asp-for="strMeasure6" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strMeasure6)
    </div>
    <div class="form-group row">
        <label asp-for="strMeasure7" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strMeasure7)
    </div>
    <div class="form-group row">
        <label asp-for="strMeasure8" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strMeasure8)
    </div>
    <div class="form-group row">
        <label asp-for="strMeasure9" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strMeasure9)
    </div>
    <div class="form-group row">
        <label asp-for="strMeasure10" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strMeasure10)
    </div>
    <div class="form-group row">
        <label asp-for="strMeasure11" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strMeasure11)
    </div>
    <div class="form-group row">
        <label asp-for="strMeasure12" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strMeasure12)
    </div>
    <div class="form-group row">
        <label asp-for="strMeasure13" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strMeasure13)
    </div>
    <div class="form-group row">
        <label asp-for="strMeasure14" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strMeasure14)
    </div>
    <div class="form-group row">
        <label asp-for="strMeasure15" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strMeasure15)
    </div>
    <div class="form-group row">
        <label asp-for="strImageSource" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strImageSource)
    </div>
    <div class="form-group row">
        <label asp-for="strImageAttribution" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strImageAttribution)
    </div>
    <div class="form-group row">
        <label asp-for="strCreativeCommonsConfirmed" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strCreativeCommonsConfirmed)
    </div>
    <div class="form-group row">
        <label asp-for="dateModified" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.dateModified)
    </div>

</div>