@model Shop.Models.Cocktails.CocktailsViewModel

@{
    ViewData["Title"] = "Cocktails";
}
<div class="container">
    <h2>Cocktail information</h2>
    <h2>@Html.DisplayFor(model => model.strDrink)</h2>
    <hr />

    <div class="form-group row">
        <label asp-for="idDrink" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.idDrink)
    </div>

    <div class="form-group row">
        <label asp-for="strDrinkAlternate" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strDrinkAlternate)
    </div>

    <div class="form-group row">
        <label asp-for="strTags" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strTags)
    </div>

    <div class="form-group row">
        <label asp-for="strVideo" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strVideo)
    </div>

    <div class="form-group row">
        <label asp-for="strCategory" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strCategory)
    </div>

    <div class="form-group row">
        <label asp-for="strIBA" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIBA)
    </div>
    <div class="form-group row">
        <label asp-for="strAlcoholic" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strAlcoholic)
    </div>
    <div class="form-group row">
        <label asp-for="strGlass" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strGlass)
    </div>
    <div class="form-group row">
        <label asp-for="strInstructions" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strInstructions)
    </div>
    <div class="form-group row">
        <label asp-for="strInstructionsES" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strInstructionsES)
    </div>
    <div class="form-group row">
        <label asp-for="strInstructionsDE" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strInstructionsDE)
    </div>
    <div class="form-group row">
        <label asp-for="strInstructionsFR" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strInstructionsFR)
    </div>
    <div class="form-group row">
        <label asp-for="strInstructionsIT" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strInstructionsIT)
    </div>
    <div class="form-group row">
        <label asp-for="strInstructionsZHHANS" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strInstructionsZHHANS)
    </div>
    <div class="form-group row">
        <label asp-for="strInstructionsZHHANT" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strInstructionsZHHANT)
    </div>
    <div class="form-group row">
        <label asp-for="strDrinkThumb" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strDrinkThumb)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient1" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient1)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient2" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient2)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient3" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient3)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient4" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient4)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient5" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient5)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient6" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient6)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient7" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient7)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient8" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient8)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient9" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient9)
    </div>
    <div class="form-group row">
        <label asp-for="strIngredient10" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.strIngredient10)
    </div>

</div>